.wordart {
    font-family: 'Arial', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6600, #ffcc00, #66ff66, #6699ff, #ff66cc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* -webkit-text-stroke: 0.5px #000000; */
    /* text-shadow: 2px 2px 0 #000000; */
  }
  /* styles/style.css */

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.left_portion {
  animation: left 2s ease-in forwards;
}

.right_portion {
  animation: right 2s ease-in forwards;
}
