
@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.left_portion {
  display: flex;
  flex-direction: column;
  animation: left 2s ease-in;
}

.right_portion {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  animation: right 2s ease-in;
}
